*play*ipynb
*test*ipynb
*visual*ipynb
*plots*ipynb
code/03_OHBM_poster_v4.ipynb

data/
logs/
output/
code/narratives-prettymouth_analysis.ipynb
__pycache__/
config.txt
.datalad
.vscode
code/nilearn_cache
stimuli/*.wav
*/*_cache
*/.*
*/*/.*
.ipynb_checkpoints
.env
code/final_plots.ipynb
code/final_plots.html
